@model ProductAddViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <br />
    <h4>Ürün Ekle</h4>
    <hr />
    <form asp-controller="Admin" asp-action="ProductAdd" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-success"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Url" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Url">
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Brand">
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Stock">
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="hidden" asp-for="ImageUrl" />
                <input type="file" name="file">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
        </div>
    </form>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script src="/node_modules/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>

