@model PasswordChangeViewModel

@{
    ViewData["Title"] = "PasswordChange";
    Layout = null;
}

@if (ViewBag.success == "true")
{
    <div class="alert alert-info">
        Şifreniz güncellenmiştir
    </div>
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recover Password</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/custom2css/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="~/custom2css/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/custom2css/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a asp-controller="Home" asp-action="Index"><b>Shop</b>APP</a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Yeni şifre için bilgileri giriniz ve hesabı kullanmaya başlayınız</p>

                    <form asp-controller="Account" asp-action="PasswordChange" method="post">
                        <div class="input-group mb-3">
                            <input asp-for="PasswordCurrent" class="form-control" placeholder="Mevcut şifre">
                            <span asp-validation-for="PasswordCurrent" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="PasswordNew" class="form-control" placeholder="Yeni şifre">
                            <span asp-validation-for="PasswordNew" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="PasswordConfirm" class="form-control" placeholder="Yeni şifre tekrar">
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Gönder</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <br />
                    <a asp-controller="Account" asp-action="Manager" class="link-black text-right"><i class="fas fa-share mr-1"></i> Profile Dön</a>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="~/custom2css/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/custom2css/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/custom2css/dist/js/adminlte.min.js"></script>

    </body>
</html>
}






